#home{
  padding: 100px 15px 100px 15px;
  .textHead{
    text-align: center;
  }
  .textSub{
    text-align: center;
    font-size: 21px;
  }
  .newsHead{
    border: 9px solid darkgray;
    margin-top: 25px;
    width: 190px;
    text-align: center;
  }
  .feedArticle{
    color: #676300;
    border-bottom: 2px solid #676300;
    margin-top: 30px;
    cursor: pointer;
  }
}
.homeModal{
  margin-top: 350px;
}